/***************************************************
// Reset
***************************************************/

/* border-box makes everything easy */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,input,select,textarea,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section,main{
    box-sizing: border-box;
    margin: 0;
}

/* Better behavior for lists */
ul,ol{
	list-style-position: outside;
	margin-left: 1.4rem;
	padding-left: 0;
}

/* Keep images and videos from overspilling their bounds */
img, video{
	display: block;
	max-width :100%;
	height: auto;
}

/* Make hr just a simple line */
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

/* Reduce quirky behavior for tables */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make input text line up with other text */
input,select{
	vertical-align: middle;
}

/* Kill default borders on fieldsets */
fieldset{
	border: none;
}

/* It's rare to want an inline textarea */
textarea{
	display: block;
}

/* Make sub and sup text line up better */
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup{
	top: -0.5rem;
}
sub{
	bottom: -0.25rem;
}

/* A fix for SVG display in old versions of IE. */
svg:not(:root){
	overflow: hidden;
}

main {
    margin: 2rem auto;
    max-width: 960px;
}

/* ==========================================================================
 Typography
========================================================================== */
html {
    color: #000117;
    margin: 0;
    padding: 0;
}

a {
    color: #315277;
}

/* ==========================================================================
 Header Component
========================================================================== */
header{
    background-color: #10143f;
    padding-top: 2rem;
}

.logo {
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    text-align: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:active, .logo a:focus {
    color: #e5e9f2;
    text-decoration: none;
}

header hr {
    margin: 0;
}

/** Menu block **/

.menu-primary {
    margin: 0 auto;
    text-align: center;
}

.menu-primary ul {
    margin: 0;
    padding: 0;
}    

.menu-primary li {
    display: inline-block;
    text-align: center;
}

.menu-primary a {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-primary a:hover, a:focus {
    color: #f66b50;
}

.menu-item-current a{
    background-color: #00001b;
    color: #f66b50;
}

/* ==========================================================================
 Footer Component
========================================================================== */
footer {
    background-color: #00001b;
    color: #e5e9f2;
    display: grid;
    font-size: .8rem;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

footer a {
    color: #e5e9f2;
}

footer a:hover {
    color: #5595e4;
}

.footer-col-1 {

}

.footer-col-2 {
    text-align: right;
}