/***************************************************
// Reset
***************************************************/

/* border-box makes everything easy */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,input,select,textarea,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section,main{
    box-sizing: border-box;
    margin: 0;
}

/* Better behavior for lists */
ul,ol{
	list-style-position: outside;
	margin-left: 1.4rem;
	padding-left: 0;
}

/* Keep images and videos from overspilling their bounds */
img, video{
	display: block;
	max-width :100%;
	height: auto;
}

/* Make hr just a simple line */
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

/* Reduce quirky behavior for tables */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make input text line up with other text */
input,select{
	vertical-align: middle;
}

/* Kill default borders on fieldsets */
fieldset{
	border: none;
}

/* It's rare to want an inline textarea */
textarea{
	display: block;
}

/* Make sub and sup text line up better */
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup{
	top: -0.5rem;
}
sub{
	bottom: -0.25rem;
}

/* A fix for SVG display in old versions of IE. */
svg:not(:root){
	overflow: hidden;
}

main {
    margin: 2rem auto;
    max-width: 35rem;
}

/***************************************************
// Colors
***************************************************/
html {
    --color-primary:            #10143f;
    --color-primary-dark:       #00001b;
    --color-primary-light:      #3c3a6a;

    --color-secondary:          #BD3A26;
    --color-secondary-dark:     #860000;
    --color-secondary-light:    #f66b50;

    --color-accent:             #0068B2;
    --color-accent-dark:        #003e82;
    --color-accent-light:       #5595e4;

    --color-gray: #1f2d3d;
    --color-gray-dark: #000117;
    --color-gray-light: #e5e9f2;
}

/* ==========================================================================
 Typography
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Cabin:700|Raleway:400,400i,800&display=swap');

html {
    --font-headings: 'Cabin', sans-serif;
    --font-primary: 'Raleway', sans-serif;
}

html {
    color: var(--color-gray-dark);
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h4 {
    margin: 1.5rem 0 .7rem;
}

.text-featured {
    font-size: .8rem;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    color: var(--color-secondary-dark);
}

/* ==========================================================================
 Header Component
========================================================================== */
header{
    background-color: var(--color-primary-dark);
    padding-top: 2rem;
}

.logo {
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    text-align: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:active, .logo a:focus {
    color: var(--color-accent-light);
    text-decoration: none;
}

header hr {
    margin: 0;
}

/** Menu block **/

.menu-primary {
    margin: 0 auto;
    text-align: center;
}

.menu-primary ul {
    margin: 0;
    padding: 0;
}    

.menu-primary li {
    display: inline-block;
    text-align: center;
}

.menu-primary a {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-primary a:hover, a:focus {
    color: var(--color-gray-light);
}

.menu-item-current a{
    background-color: var(--color-primary);
    color: var(--color-accent-light);
}

/* ==========================================================================
 Footer Component
========================================================================== */
footer {
    background-color: var(--color-primary-dark);
    color: var(--color-gray-light);
    display: grid;
    font-size: .8rem;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

footer a {
    color: var(--color-secondary-light);
}

footer a:hover {
    color: var(--color-accent);
}

.footer-col-1 {

}

.footer-col-2 {
    text-align: right;
}